<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="breadcrumb has-bullet-separator is-centered is-large" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
     </nav>

    {% block body %} {% endblock %}
    
    <script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/p5.dom.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/p5.sound.js') }}"></script>

</body>
</html>