{% extends 'base.html' %}

{% block head %}
<title>Gallery</title>
{% endblock %}

{% block body %}
    <div class="hero is-fullheight is-dark">
        <div class="title is-1 is-half is-offset-one-quarter has-text-centered">
            Gallery
        </div>
        
        <div class="container">
        
            {% if tasks|length < 1 %}
        
            <h4>There are no outputs.</h4>
        
            {% else %}
        
            <div class="columns is-multiline ">
                {% for task in tasks %}
                <div class="column is-one-quarter-desktop is-half-tablet is-mobile">
                    <div class="card">
                        <div class="card-header ">
                        </div>
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <!-- https://unsplash.it/300/200/?random&pic=1 -->
                            </figure>
                            <div class="card-content is-overlay is-clipped">
                                     
                                <span class="is-info">
                                    {{ task.content }}
                                </span>
                                
                            </div>
                        </div>
                        
                        <footer class="card-footer">
                            <a href="/img/{{task.id}}" class="card-footer-item">
                                View
                            </a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            {% endif %}
        </div>
    </div>    


{% endblock %}