{% extends 'base.html' %}

{% block head %}
<title>Image</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="emo_content">
        {% if img|length < 1 %}

        <h4>There are no outputs. Create one.</h4>

        {% else %}

        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-centered">
                            <p class="title is-size-5">Simulacrum</p>
                            <p class="subtitle"></p>
                            <div id="sketch-holder"></div>
                                <div class="columns is-mobile">
                                    <div class="column is-half is-offset-one-quarter has-text-centered pt4">
                                        <button type="submit" class="button is-dark" value="Submit">Share</button>
                                        <button type="submit" class="button is-dark" value="Submit">Download</button>
                                    </div>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-$grey-lighter">
                    <div class="content">
                        <p class="Title is-3">Sentence</p>
                        <!-- <p class="subtitle">With even more content</p> -->
                        <div class="notification is-primary is-light is-size-6">
                            "{{txt}}"
                        </div>
                        <div class="field p-1 is-grouped is-grouped-multiline ">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-success is-medium">Happy</span>
                                    <span class="tag is-danger is-medium">Angry</span>
                                    <span class="tag is-info is-medium">Sad</span>
                                    <span class="tag is-dark is-medium">Fear</span>
                                    <span class="tag is-warning is-medium">Surprise</span>
                                </div>
                            </div>
                        </div>
                        <progress class="progress is-success is-small" value="{{ emo.happy * 100 + 1}}" max="100">{{emo.happy * 100}}%</progress>
                        <progress class="progress is-danger is-small" value="{{emo.angry * 100 + 1}}" max="100">{{emo.angry * 100}}%</progress>
                        <progress class="progress is-info is-small" value="{{emo.sad * 100 + 1}}" max="100">{{emo.sad * 100}}%</progress>
                        <progress class="progress is-dark is-small" value="{{emo.fear * 100 + 1}}" max="100">{{emo.fear * 100}}%</progress>
                        <progress class="progress is-warning is-small" value="{{emo.surprise * 100 + 1}}" max="100">{{emo.surprise * 100}}%</progress>
                        
                        <div class="subtitle  notification is-light is-size-7 is-italic">
                            Here's what the computer thinks of what you say. Like a flawed digital simulacrum, visual representations of our thoughts, appear in front of you from its version of reality. Unbeknownst to us, it knows when we are happy, angry, sad, surprised, and fearful. Unbeknownst to you, your thoughts are being used against you. We're used to the idea that computers are hackable, but the new reality is that computers are also hacking you.
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var emotions = {{ img| tojson }}
    console.log(emotions)
</script>
<script src="{{ url_for('static', filename='sketch.js') }}"></script>
<script src="{{ url_for('static', filename='particle.js') }}"></script>

{% endif %}

{% endblock %}